body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header{
    text-align: center;
    padding: 10px;
    background-color: #454545;
}

iframe {
    width: 100%;
    height: 300px;
    /* Ajuste a altura conforme necessário */
    border: none;
}

main {
    flex: 1;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

/* Classe CSS personalizada para controlar o tamanho da imagem */
.logo-img {
    width: 100px;
    /* Largura desejada */
    height: auto;
    /* Altura automática para manter a proporção */
}

/* Estilos para posicionar a imagem no canto superior esquerdo */
.logo-container {
    position: absolute;
    top: 15px;
    /* Distância do topo da tela */
    left: 10px;
    /* Distância da borda esquerda da tela */
}